.first{
    background-color: #1f2937;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.links{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text{
    display: flex;
    justify-content: space-between;
    height: 400px;
    margin-top: 50p;
    margin-right: 100px;
}

.text-box{
    margin-left: 100px;
}

.big-hero{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.small-hero{
    font-size: 18px;
    color: #e5e7eb;
}

.second{
    background: white;
}

.image-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#e5e7eb;
    background-color: grey;
    height: 200px;
    width: 500px;
}

.placeholder-text{

}

.random-text{
    text-align: center;
}

img{
    height: 150px;
    width: 170px;
    border-radius: 20px;
    border-color: skyblue;
    border: solid skyblue;
}

.image-box{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 30px;
}

.third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    color: #1f2937;
    height: 200px;
}

.hero-quote{
    text-align: center;
    font-size: 36px;
    font-style: italic;
}

.quoter{
    display: flex;
    font-weight: bold;
    margin-left: 100px;
}